.exomap {
    width:100%;
    padding-top:75%;
}

.exomap a {
    box-shadow: none!important;
}

.exomap-popup {
    color:#333;
    font-size:12px;
    font-weight:400;
    width:220px;
    user-select: none;
}

.exomap-title {
    font-weight: 500;
    font-size: 14px;
}

.exomap-label {
    font-weight: 500;
}

.exomap-label:after {
    content : ' : ';
}

.exomap-address {
    margin:4px 0;
    color:#555;
}

.exomap-address .postal-code:before {
    content: ' ';
    display: block;
}

.exomap-spinner {
    display: block;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/spinner.gif);
}

.exomap-goto {
    margin: 8px 0 0;
    display: block;
    padding: 4px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 4px;
}

.exomap-filter {
    border-radius: 4px;
    min-width: 24px;
    min-height: 24px;
    background: white;
}

.exomap-filter label {
    display: inline-block;
    padding: 4px;
    font-weight: 400;
    font-size: 12px;
    margin:0;
}

.exomap-locate--icon {
    margin-top: 3px;
    transition: color, opacity;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.exomap-locate--icon.searching {
    animation: blink linear 2s infinite;
}

.exomap-locate--icon.active {
    color:#C60C30;
}

.exomap.leaflet-touch .leaflet-bar {
    border-width: 1px;
}

.exomap.leaflet-touch .leaflet-bar a {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.exomap.leaflet-touch .leaflet-control-zoom-in,
.exomap.leaflet-touch .leaflet-control-zoom-out {
    font-size:18px;
}

.exomap .leaflet-popup-content {
    margin: 5px 10px 10px!important;
}

.leaflet-touch .leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.leaflet-touch .leaflet-control-attribution {
    display: none;
}

.exolead {
    position: relative;
}

.exolead--form {
    transition: opacity 0.3s;
}

.exolead.pending .exolead--form {
    opacity: 0;
}

.exolead--response {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exolead.pending .exolead--response {
    display: flex;
}

.exolead--loader {
    margin-bottom: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-left-color: #5cb85c;
    animation: pending 1s infinite linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: 0.3s;
}

.exolead--loader:after {
    display: none;
}

.exolead.success .exolead--loader {
    border-color: #5cb85c;
    animation: none;
}

.exolead.error .exolead--loader {
    border-color: #e21c1c;
    animation: none;
}

.exolead.success .exolead--loader:after {
    display: block;
    animation: checkmark 1000ms ease;
    height: 1.5rem;
    width: 0.75rem;
    transform-origin: left top;
    transform: scaleX(-1) rotate(135deg);
    border-right: 2px solid #5cb85c;
    border-top: 2px solid #5cb85c;
    content: '';
    left: 0.7rem;
    top: 1.5rem;
    position: absolute;
}

.exolead.error .exolead--loader:after {
    display: block;
    content: '';
    border: 1px solid #e21c1c;
    width: 1.5rem;
    left: 50%;
    top: 50%;
    position: absolute;
    transform-origin: top left;
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
}

.exolead.error .exolead--loader:before {
    display: block;
    content: '';
    border: 1px solid #e21c1c;
    width: 1.5rem;
    left: 50%;
    top: 50%;
    position: absolute;
    transform-origin: top left;
    transform: rotate(-45deg) translateX(-50%) translateY(-50%);
}

@keyframes pending {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 0.75rem;
        opacity: 1;
    }
    40% {
        height: 1.5rem;
        width: 0.75rem;
        opacity: 1;
    }
    100% {
        height: 1.5rem;
        width: 0.75rem;
        opacity: 1;
    }
}

.exolead--message-wrapper {
    position: relative;
    width: 100%;
}

.exolead--message {
    opacity: 0;
    transition: opacity 0.3s 0.6s;
    position: absolute;
    top: 1rem;
}

.exolead.error .exolead--message,
.exolead.success .exolead--message {
    opacity: 1;
}

.exolead--email {
    margin-top: 1rem;
    width: 100%!important;
}

.exolead--button {
    display: block;
    margin: 1rem 0;
    width:100%!important;
}

.exolead--button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.exolead--category {
    position: relative;
    display:block;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.exolead--category-input {
    outline: none;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    height: 1.4rem;
    width: 2.8rem;
    border: none!important;
    border-radius: 3rem;
    transform: translateY(-50%);
    transition: 0.2s;
}

.exolead--category-input:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(1.4rem - 4px);
    height: calc(1.4rem - 4px);
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
}

.exolead--category-input:not(:checked) {
    background: grey!important;
}

.exolead--category-input:checked:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.exolead--category-input:active:after {
    width: 1.6rem;
}

.exolead--category-label {
    cursor: pointer;
}

.exolead--consent {
    font-size: 0.75em;
}